{% extends 'base_template.html' %}
{% block content %}
<!--The page that will contain the form needed to make a reservation -->
<!--For better functionality some content is hidden from simple users, that the admin will use to make some extra information in a reservation entry -->
<!-- Content -->
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-danger text-centered" style="display: none">
            Please remember that you need to be logged in to make a reservation.
        </div>
        {% if current_appointment %}
        <div class="alert alert-warning text-centered">
            You have an active reservation. If you want to make a new one, please, <a href="{{url_for("reg_user.my_account")}}">cancel</a> the current one or contact us at 123.456.7890!
        </div>
        {% endif %}
    </div>
    <div class="col-md-2"></div>
</div>

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="wrapper3">
        <form action="{{ url_for('reg_user.appointments') }}" method="post">
            {{ appointment_form.hidden_tag() }}

            <div class="form-group">
                <label><span class="glyphicon glyphicon-calendar"></span><b>{{ appointment_form.appointment_date.label }}</b></label>
                {{appointment_form.appointment_date(class="form-control",type="text", id="datepicker", placeholder="Click to pick the appointment date")}}
            </div>
            <div class="form-group">
                <label><span class="glyphicon glyphicon-time"></span><b>{{ appointment_form.appointment_time.label }}</b></label>
                {{appointment_form.appointment_time(class="form-control",type="text", id="timepicker", placeholder="Click to pick the appointment time")}}
            </div>
            <div class="form-group">
                <label><span class="glyphicon glyphicon-user"></span><b>{{ appointment_form.barber.label }}</b></label><br>
                {{appointment_form.barber(class="form-control")}}
            </div>
            <div class="form-group">
                <label><span class="glyphicon glyphicon-scissors"></span><b>{{ appointment_form.service.label }}</b></label>
                {{appointment_form.service(class="form-control")}}
            </div>
            {% if current_appointment %}
            <button type="submit" class="btn btn-default" disabled>Submit</button>
            {% else %}
            <button type="submit" class="btn btn-default">Submit</button>
            {% endif %}
        </form>
    </div>        
</div>
<div class="col-md-2"></div>          
<!-- End of content-->
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

{%include 'footer2.html'%}
{%endblock%}