{% extends 'base_template.html' %}
{% block content %}
<!-- Content -->

<div class="wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum fermentum velit sit amet euismod. Vivamus egestas consectetur nibh ac tincidunt. Sed quis dui in metus viverra finibus eget sed odio. Vivamus aliquet, risus sit amet condimentum interdum, nunc est dapibus dolor, eu auctor dolor velit nec quam. Donec tristique purus ante, a fermentum tellus pharetra ac. Nullam quis sollicitudin dui. Sed a congue sem. Praesent vel sem rutrum arcu sagittis imperdiet.</p>

    <p>Suspendisse nec arcu ac orci lacinia venenatis vel et sem. Curabitur non augue vitae justo lobortis condimentum. Integer ut neque urna. Nullam quis massa sed enim mollis bibendum. Etiam   hendrerit neque arcu, et volutpat tellus placerat eu. Pellentesque eu turpis vel nunc eleifend gravida vitae at ex. Suspendisse sagittis viverra justo. Aenean eu iaculis justo. Aenean id libero     pulvinar, sollicitudin nunc nec, porttitor lacus. Vivamus in dapibus urna. Donec mattis molestie fermentum. In non faucibus mi. Ut eu erat ipsum.</p>

    <p>Maecenas viverra nulla mollis urna varius eleifend. Nullam consectetur lacus quis facilisis lacinia. Nullam in risus elit. Ut rutrum tortor ac metus ultricies, eget fermentum massa consequat. Donec eget magna id nisl pharetra tristique vitae bibendum eros. Vivamus cursus nulla quis sem consectetur, nec malesuada risus efficitur. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam condimentum sapien mauris, vel placerat mauris ullamcorper vel. Vestibulum quis ante nisi. Suspendisse aliquet, purus sed facilisis pulvinar, ligula nisl hendrerit urna, imperdiet pulvinar dolor enim semper felis. Ut sed metus non eros molestie venenatis a non odio. Nam ut cursus augue, nec pharetra dolor. Nulla dignissim tincidunt ante, volutpat faucibus est gravida eget. Morbi fermentum porta diam id placerat. Nunc hendrerit justo leo, vel posuere elit consectetur non. Quisque elementum elit ac arcu fermentum malesuada.</p>
</div>

<!-- End of content-->
{%include 'footer2.html'%}
{% endblock %}
