{% extends 'base_template.html' %}
{% block content %}
<!--The page that will contain the form needed to make a reservation -->
<!--For better functionality some content is hidden from simple users, that the admin will use to make some extra information in a reservation entry -->
<!-- Content -->
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-danger text-centered">
            Please remember that you need to be logged in to make a reservation.
        </div>
        <div class="alert alert-warning text-centered">
            You have an active reservation. If you want to make a new one, please, <a href="{{url_for("home.my_account")}}">cancel</a> the current one or contact us at 123.456.7890!
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="wrapper3">
        <form action="" method="post">
                <div class="form-group">
                    <label for="visitdate"><span class="glyphicon glyphicon-calendar"></span><b>Appointment Date:</b></label>
                    <input type="text" id="datepicker" name="visitdate" class="form-control" placeholder="Click to pick the appointment date" required>
                </div>
            <div class="form-group">
                <label for="visittime"><span class="glyphicon glyphicon-time"></span><b>Appointment Time:</b></label>
                <input type="text" id="timepicker" class="form-control" placeholder="Click to pick the appointment time" required>
            </div>
            <div class="form-group">
                <label for="persons"><span class="glyphicon glyphicon-scissors"></span><b>Service:</b></label><br>
                <select name="personsoptions"required>
                    <option value="1"> 1 Person</option>
                    <option value="2"> 2 Persons</option>
                    <option value="3"> 3 Persons</option>
                    <option value="4"> 4 Persons</option>
                    <option value="5"> 5 Persons</option>
                    <option value="6"> 6 Persons</option>
                    <option value="7"> 7 Persons</option>
                    <option value="8"> 8 Persons</option>
                    <option value=" " disabled> For a reservation of 9 or more persons please contact us at 123.456.7890 </option>
                </select>
            </div>
            
            <div class="form-group">
                <label><span class="glyphicon glyphicon-user"></span><b> Barber:</b></label>
                <input type="radio" name="reserved_via" value="Website" required>Website
                <input type="radio" name="reserved_via" value="Telephone">Telephone
            </div>
            <button type="submit" class="btn btn-default" disabled>Submit</button>
        </form>
    </div>        
</div>
<div class="col-md-2"></div>   

        
<!-- End of content-->
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{%include 'footer2.html'%}
{%endblock%}