/* 
    Created on : Jan 27, 2017, 12:47:28 PM
    Author     : Filippos
*/
    /* Aisha font reference: http://www.revolge.com/product/aisha-script/ */
    @font-face { font-family: Aisha-script; src: url('/static/images_n_fonts/fonts/MJ_Aisha_FS/Aisha Script.ttf'); }

    /*default CSS properties. Applies to elements independently of screensize*/
    /*Greeting message*/
    .brand,
    .address-bar{
    font-family: "Aisha-script", "Verdana", Times, serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bolder;
    color: #4f351c;
    }
    /*----------------------------------------*/   

    /*flash messages and animations*/
    @-webkit-keyframes fade {
        0%  {opacity: 0;}
        20%  {opacity: 1;}
        80%  {opacity:1;}
        100% {opacity: 0; display: none;}
    }
    @-o-keyframes fade {
        0%  {opacity: 0;}
        20%  {opacity: 1;}
        80%  {opacity:1;}
        100% {opacity: 0; display: none;}
    }
    @-moz-keyframes fade {
        0%  {opacity: 0;}
        20%  {opacity: 1;}
        80%  {opacity:1;}
        100% {opacity: 0; display: none;}
    }

    @keyframes fade {
        0%  {opacity: 0; right: -100%;}
        20%  {opacity: 1; right: 0;}
        80%  {opacity:1; right: 0;}
        100% {opacity: 0; right: -100%; display: none;}
    }

    .flash{
        width: 30em;
        height: 4em;
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: -30%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
        text-align: center;        
        animation: fade 6s forwards;
    }

    /* Styling for the modal blocks - Reference:https://www.w3schools.com/howto/howto_css_modals.asp */
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*media query for MOBILES(under 639 pixels)*/
    /*----------------------------------------*/
    @media only screen and (max-width : 639px){
        /* Ribbons reference: http://www.cssportal.com/css-ribbon-generator/*/
        /*----------------------------------------*/
        .box {
          width: 200px; height: 300px;
          position: relative;
          float: none;
          margin: 0 auto;
          border: 2px solid #BBB;
          background: #dac292;
          border-style: solid;
          border-width: 2px;
          border-color: #4f351c;
          border-radius: 10px;
        }
        .ribbon {
          position: absolute;
          left: -5px; top: -5px;
          z-index: 1;
          overflow: hidden;
          width: 75px; height: 75px;
          text-align: right;
        }
        .ribbon span {
          font-size: 10px;
          font-weight: bold;
          color: #FFF;
          text-transform: uppercase;
          text-align: center;
          line-height: 20px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          width: 100px;
          display: block;
          background: #79A70A;
          background: linear-gradient(#F70505 0%, #8F0808 100%);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          position: absolute;
          top: 19px; left: -21px;
        }
        .ribbon span::before {
          content: "";
          position: absolute; left: 0px; top: 100%;
          z-index: -1;
          border-left: 3px solid #8F0808;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #8F0808;
        }
        .ribbon span::after {
          content: "";
          position: absolute; right: 0px; top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid #8F0808;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #8F0808;
        }

        /*styling for the banners*/
        /*----------------------------------------*/
        .banner-hdr{
            font-size: 20px;
            color: #4f351c;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .banner-bdy{
            font-size: 20px;
            color: #4f351c;
            text-transform: capitalize;
            text-align: center;
        }
        /*he for banners*/
        /* Reference: https://css-tricks.com/examples/hrs/*/
        hr {
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
        /*end of ribbon styling*/
        /*----------------------------------------*/

        
        /* aboutUs wrapper*/
        .wrapper{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            text-indent: 50px;
            
        }  
        
        .wrapper ul li {
            text-indent: 0px;
        }
        /* end of aboutUs wrapper*/
        
        /*forms wrapper*/
        .wrapper2{
            width: 100%;
            height: 100%;
            background-color: rgba(218, 194, 146, 0.4);
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: #4f351c;
            margin: auto;
            padding: 10px;
        }
        /*end of forms wrapper*/    
        
        /*Contact wrapper*/
        .wrapper3{
            width: 95%;
            height: 50%;
            background-color: rgba(206,206,206,0.9);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Contact wrapper*/   
        
        /*Personal info wrapper*/
        .wrapper4{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 15px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Personal info wrapper*/        
        
        
        
        /*hr for menu decoration*/
        hr.formenu {
	       border-top: 1px solid #8c8b8b;
	       text-align: center;
        }
        hr.formenu:after {
        	content: '§';
        	display: inline-block;
        	position: relative;
        	top: -14px;
        	padding: 0 10px;
        	background: #f0f0f0;
        	color: #8c8b8b;
        	font-size: 18px;
        	-webkit-transform: rotate(60deg);
        	-moz-transform: rotate(60deg);
        	transform: rotate(60deg);
        }
        /*----------------------------------------*/

        
        /* footer style*/

        .footer{
            margin-top: 50px;
            height: 45px;
            background-color: #fff;
            width:100%;
        }

        .footer p{
            font-weight: bold;
            vertical-align: middle;
            font-size: 14px;
            font-family: Verdana;

        }
        /*----------------------------------------*/
    }

    /*media query for TABLETS(over 768 pixels and under 1024 pixels)*/
    @media only screen and (min-width : 640px) and (max-width: 1023px){
        /*----------------------------------------*/
        /*navbar css*/
        .navbar-nav > li > a{
            padding-left: 20px;
            font-size: 25px;
            font-family: "Times New Roman", Times, serif;
        }

        .navbar .navbar-default .container-fluid .navbar-header .navbar-brand > a {
            padding-right: 60%;
            padding-left: 8%;
            font-size: 70px;
        }

        #logo {
            font-size: 25px;
            font-weight: bold;
            font-style: italic;
        }
        /*endof navbar css*/
        /*----------------------------------------*/

        /*styling for the banners*/
        /*----------------------------------------*/
        .banner-hdr{
            font-size: 20px;
            color: #4f351c;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .banner-bdy{
            font-size: 20px;
            color: #4f351c;
            text-transform: capitalize;
            text-align: center;
        }
        
        /*he for banners*/
        /* Reference: https://css-tricks.com/examples/hrs/*/
        hr {
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
        
        /*end of ribbon styling*/
        /*----------------------------------------*/

        
        /* aboutUs wrapper*/
        .wrapper{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            text-indent: 50px;
            
        }  
        
        .wrapper ul li {
            text-indent: 0px;
        }
        
        /* end of aboutUs wrapper*/
        
        
        /*forms wrapper*/
        .wrapper2{
            width: 100%;
            height: 100%;
            background-color: rgba(218, 194, 146, 0.4);
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: #4f351c;
            margin: auto;
            padding: 10px;
        }
        /*end of forms wrapper*/     
        
        /*Contact wrapper*/
        .wrapper3{
            width: 95%;
            height: 50%;
            background-color: rgba(206,206,206,0.9);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Contact wrapper*/        
        
        /*Personal info wrapper*/
        .wrapper4{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 15px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Personal info wrapper*/         
        
        
        /*hr for menu decoration*/
        hr.formenu {
        	border-top: 1px solid #8c8b8b;
        	text-align: center;
        }
        hr.formenu:after {
        	content: '§';
        	display: inline-block;
        	position: relative;
        	top: -14px;
        	padding: 0 10px;
        	background: #f0f0f0;
        	color: #8c8b8b;
        	font-size: 18px;
        	-webkit-transform: rotate(60deg);
        	-moz-transform: rotate(60deg);
        	transform: rotate(60deg);
        }
        /*----------------------------------------*/
        
        
        /*----------------------------------------*/
        /* footer style*/

        .footer{
            margin-top: 50px;
            height: 30px;
            background-color: #fff;
            width:100%;
        }

        .footer p{
            font-size: 18px;
            font-family: Verdana;

        }
        /*----------------------------------------*/
    }
    /*media query for DESKTOPS(over 1024 pixels)*/
    @media only screen and (min-width : 1024px){
        /*----------------------------------------*/
        /*navbar css*/
        .navbar-nav > li > a{
            padding-left: 100px;
            font-size: 25px;
            font-family: "Times New Roman", Times, serif;
        }

        .navbar .navbar-default .container-fluid .navbar-header .navbar-brand > a {
            padding-right: 40%;
            padding-left: 8%;
            font-size: 70px;
        }

        #logo {
            font-size: 25px;
            font-weight: bold;
            font-style: italic;
        }
        /*endof navbar css*/
        /*----------------------------------------*/

        #myCarousel{
            margin-top: 50px;
            margin-bottom: 50px;
        }



        /* Ribbons reference: http://www.cssportal.com/css-ribbon-generator/*/
        /*----------------------------------------*/
        .box {
          width: 200px; height: 300px;
          position: relative;
          border: 2px solid #BBB;
          background: #dac292;
          border-style: solid;
          border-width: 2px;
          border-color: #4f351c;
          border-radius: 10px;
        }
        .ribbon {
          position: absolute;
          left: -5px; top: -5px;
          z-index: 1;
          overflow: hidden;
          width: 75px; height: 75px;
          text-align: right;
        }
        .ribbon span {
          font-size: 10px;
          font-weight: bold;
          color: #FFF;
          text-transform: uppercase;
          text-align: center;
          line-height: 20px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          width: 100px;
          display: block;
          background: #79A70A;
          background: linear-gradient(#F70505 0%, #8F0808 100%);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          position: absolute;
          top: 19px; left: -21px;
        }
        .ribbon span::before {
          content: "";
          position: absolute; left: 0px; top: 100%;
          z-index: -1;
          border-left: 3px solid #8F0808;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #8F0808;
        }
        .ribbon span::after {
          content: "";
          position: absolute; right: 0px; top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid #8F0808;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #8F0808;
        }

        /*styling for the banners*/
        /*----------------------------------------*/
        .banner-hdr{
            font-size: 20px;
            color: #4f351c;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }

        .banner-bdy{
            font-size: 20px;
            color: #4f351c;
            text-transform: capitalize;
            text-align: center;
        }
        /*he for banners*/
        /* Reference: https://css-tricks.com/examples/hrs/*/
        hr {
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
        /*end of ribbon styling*/
        /*----------------------------------------*/

        
        /* aboutUs wrapper*/
        .wrapper{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            text-indent: 50px;
            
        }  
        
        .wrapper ul li {
            text-indent: 0px;
        }

        /* end of aboutUs wrapper*/
        /*------------------------*/
        
        /*forms wrapper*/
        .wrapper2{
            width: 100%;
            height: 100%;
            background-color: rgba(218, 194, 146, 0.4);
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: #4f351c;
            margin: auto;
            padding: 10px;
        }
        /*end of forms wrapper*/    
        
        /*Contact wrapper*/
        .wrapper3{
            width: 95%;
            height: 50%;
            background-color: rgba(206,206,206,0.9);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Contact wrapper*/
        
        /*Personal info wrapper*/
        .wrapper4{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 15px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Personal info wrapper*/ 

        
        /*hr for menu decoration*/
        hr.formenu {
	border-top: 1px solid #8c8b8b;
	text-align: center;
        }
        hr.formenu:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
        }
        /*----------------------------------------*/
        /* footer style*/

        .footer{
            margin-top: 50px;
            height: 30px;
            background-color: #fff;
            width:100%;
        }

        .footer p{
            font-size: 18px;
            font-family: Verdana;

        }
        /*----------------------------------------*/
    }

    @media only screen and (min-width : 1600px){
        /*navbar css*/
        .navbar-nav > li > a{
            padding-left: 200px;
            font-size: 25px;
            font-family: "Times New Roman", Times, serif;
        }

        .navbar .navbar-default .container-fluid .navbar-header .navbar-brand > a {
            padding-right: 60%;
            padding-left: 8%;
            font-size: 70px;
        }

        #logo {
            font-size: 25px;
            font-weight: bold;
            font-style: italic;
        }
        /*endof navbar css*/
        /*----------------------------------------*/   
        
        
        /* aboutUs wrapper*/
        .wrapper{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.8);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            text-indent: 50px;
            
        } 
        
        .wrapper ul li {
            text-indent: 0px;
        }
        /* end of aboutUs wrapper*/
        
        /*forms wrapper*/
        .wrapper2{
            width: 100%;
            height: 100%;
            background-color: rgba(218, 194, 146, 0.4);
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: #4f351c;
            margin: auto;
            padding: 10px;
        }
        /*end of forms wrapper*/ 
        
        /*Contact wrapper*/
        .wrapper3{
            width: 95%;
            height: 50%;
            background-color: rgba(206,206,206,0.9);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 20px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Contact wrapper*/
        
        /*Personal info wrapper*/
        .wrapper4{
            width: 95%;
            height: 50%;
            background-color: rgba(255,255,255,0.5);
            border-radius: 25px;
            font-family: 'Georgia', Arial, Verdana;
            font-size: 15px;
            margin: auto;
            padding: 10px;
            border-width:3px;
            border-style:solid;
            border-color: #4D4D4D;
        } 
        /*Personal info wrapper*/ 

        
        /*hr for menu decoration*/
        hr.formenu {
	border-top: 1px solid #8c8b8b;
	text-align: center;
        }
        hr.formenu:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
        }
        
        /*----------------------------------------*/
        /* footer style*/

        .footer{
            margin-top: 50px;
            height: 30px;
            background-color: #fff;
            width:100%;
        }

        .footer p{
            font-size: 18px;
            font-family: Verdana;

        }
        /*----------------------------------------*/
    }
    
