{% extends 'base_template.html' %}
{% block content %}
<!-- This is the page that the admin will use to make changes to tables, reservations, users or track reservation that-->
<!-- will take place today or the historical data.-->
        <script>
            // Reference: http://www.bootply.com/lxa0FF9yhw
            //script tha will make a pagination for the tables used in the curent page
            $.fn.pageMe = function(opts){
                var $this = this,
                    defaults = {
                        perPage: 7,
                        showPrevNext: false,
                        hidePageNumbers: false
                    },
                    settings = $.extend(defaults, opts);

                var listElement = $this;
                var perPage = settings.perPage; 
                var children = listElement.children();
                var pager = $('.pager');

                if (typeof settings.childSelector!="undefined") {
                    children = listElement.find(settings.childSelector);
                }

                if (typeof settings.pagerSelector!="undefined") {
                    pager = $(settings.pagerSelector);
                }

                var numItems = children.length;
                var numPages = Math.ceil(numItems/perPage);

                pager.data("curr",0);

                if (settings.showPrevNext){
                    $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
                }

                var curr = 0;
                while(numPages > curr && (settings.hidePageNumbers==false)){
                    $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
                    curr++;
                }

                if (settings.showPrevNext){
                    $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
                }

                pager.find('.page_link:first').addClass('active');
                pager.find('.prev_link').hide();
                if (numPages<=1) {
                    pager.find('.next_link').hide();
                }
                    pager.children().eq(1).addClass("active");

                children.hide();
                children.slice(0, perPage).show();

                pager.find('li .page_link').click(function(){
                    var clickedPage = $(this).html().valueOf()-1;
                    goTo(clickedPage,perPage);
                    return false;
                });
                pager.find('li .prev_link').click(function(){
                    previous();
                    return false;
                });
                pager.find('li .next_link').click(function(){
                    next();
                    return false;
                });

                function previous(){
                    var goToPage = parseInt(pager.data("curr")) - 1;
                    goTo(goToPage);
                }

                function next(){
                    goToPage = parseInt(pager.data("curr")) + 1;
                    goTo(goToPage);
                }

                function goTo(page){
                    var startAt = page * perPage,
                        endOn = startAt + perPage;

                    children.css('display','none').slice(startAt, endOn).show();

                    if (page>=1) {
                        pager.find('.prev_link').show();
                    }
                    else {
                        pager.find('.prev_link').hide();
                    }

                    if (page<(numPages-1)) {
                        pager.find('.next_link').show();
                    }
                    else {
                        pager.find('.next_link').hide();
                    }

                    pager.data("curr",page);
                    pager.children().removeClass("active");
                    pager.children().eq(page+1).addClass("active");

                }
            };

            //setting the per page elements on each table
            $(document).ready(function(){
              $('#myTableBody1').pageMe({pagerSelector:'#myPager1',showPrevNext:true,hidePageNumbers:false,perPage:4});
              $('#myTableBody2').pageMe({pagerSelector:'#myPager2',showPrevNext:true,hidePageNumbers:false,perPage:4});
              $('#myTableBody3').pageMe({pagerSelector:'#myPager3',showPrevNext:true,hidePageNumbers:false,perPage:4});
              $('#myTableBody4').pageMe({pagerSelector:'#myPager4',showPrevNext:true,hidePageNumbers:false,perPage:6});
            });
        </script>
        <!-- Background styling-->
        <style>
            .error {color: #FF0000;}
            
            body 
            background-image:    url(fonts/Background3t.jpg);
            background-attachment: fixed;
            }
            
            /* Styling for the attendance block - Reference:https://www.w3schools.com/howto/howto_css_modals.asp */
            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
            }

            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>

<!-- Content --> 
<!-- Start of admin's navigation menu div-->
<ul class="nav nav-pills wrapper4">
    <li class="active"><a data-toggle="pill" href="#home">Today's Appointments</a></li>
    <li><a data-toggle="pill" href="#menu1">Appointment History</a></li>
    <li><a data-toggle="pill" href="#menu2">Users</a></li>
    <li><a data-toggle="pill" href="#menu3">Services</a></li>
</ul>
<!-- End of admin's navigation menu div-->
    
<!-- Start of tab-content div-->
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <!-- Today's reservations --> 
        <div class="col-md-0" style="margin-top: 15px;"></div>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="wrapper4">
                <h2 class="text-center">Today's Appointments</h2>
                <hr>
                <table class="table table-hover" id="myTable1">
                    <thead>
                        <th>Appointment Date</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Customer</th>
                        <th>Barber</th>
                        <th>Service</th>
                        <th>Attendance</th>
                        <th>Appointment by</th>
                        <th>Appointment Made on</th>
                    </thead>
                    <tbody id="myTableBody1">
                        <tr class="numOfRows">
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="myPager1"></ul>
                </div>
                
                <button id="btn_edit_attendance" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Edit Attendance</button>
                <button id="btn_add_appointment" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Appointment</button>
                <button id="btn_cancel_appointment" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Cancel Appointment</button>

                <!-- The Attendance Modal -->
                <div id="attendance_modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form action="" method="POST">
                            <h3><b><center>Edit Attendance<center></b></h3>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-time"></span><b> Appointment Time:</b></label>
                                <input class="form-control" type="text" name="resId" required>
                            </div>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-user"></span><b> Barber:</b></label>
                                <input class="form-control" type="text" name="resId" required>
                            </div>
                            <div class="form-group">
                                <label for="attended"><span class="glyphicon glyphicon-check"></span><b> Attended:</b></label>
                                <input type="radio" name="attended" value="yes" required>Yes
                                <input type="radio" name="attended" value="no">No
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-0" style="margin-top: 15px;"></div>       
    </div>
    <!-- End of reservation for today-->
    
    <!-- Reservation History --> 
    <div id="menu1" class="tab-pane fade">
        <div class="col-md-0" style="margin-top: 15px;"></div>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="wrapper4">
                <h2 class="text-center">Reservation History</h2>
                <hr>
                <table class="table table-hover" id="myTable2">
                    <thead>
                        <th>Appointment Date</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Customer</th>
                        <th>Barber</th>
                        <th>Service</th>
                        <th>Attendance</th>
                        <th>Appointment by</th>
                        <th>Appointment Made on</th>
                    </thead>
                    <tbody id="myTableBody2">
                        <tr></tr>
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                   <ul class="pagination pagination-lg pager" id="myPager2"></ul>
                </div>
            </div>                  
        </div>
        <div class="col-md-0" style="margin-top: 15px;"></div> 
    </div>
    <!-- End of reservation for today-->
    
    <!-- Users Tab --> 
    <div id="menu2" class="tab-pane fade">
    <div class="col-md-0" style="margin-top: 15px;"></div>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="wrapper4">
            <h2 class="text-center">Users</h2>
            <hr>
            <table class="table table-hover">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Telephone</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Admin Privileges</th>
                    <th>Registered in</th>
                </thead>
                <tbody>
                    {% if users %}
                        {% for user in users %}
                        <tr class="numOfRows">
                            <td> {{user.first_name}} </td>
                            <td> {{user.last_name}} </td>
                            <td> {{user.birth_date}} </td>
                            <td> {{user.telephone}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.role_id}} </td>
                            <td> {{user.is_admin}} </td>
                            <td> {{user.timestamp}} </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
               <ul class="pagination pagination-lg pager"></ul>
            </div>
        </div>
    </div>    
    <div class="col-md-0" style="margin-top: 15px;"></div>
    </div>            
    <!-- End of Users tab--> 
    
    <!-- Services Tab --> 
    <div id="menu3" class="tab-pane fade">
    <div class="col-md-0" style="margin-top: 15px;"></div>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="wrapper4">
            <h2 class="text-center">Services</h2>
            <hr>
            <table class="table table-hover" id="myTable4">
                <thead>
                    <th>Service</th>
                    <th>Cost</th>
                </thead>
                <tbody id="myTableBody4">
                {% if services %}
                    {% for service in services %}
                    <tr class="numOfRows">
                        <td> {{service.name}} </td>
                        <td> {{service.cost}} </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
               <ul class="pagination pagination-lg pager" id="myPager4"></ul>
            </div>
            
            <button id="btn_add_service" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Services</button>
            <button id="btn_remove_service" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Services</button>

    <!-- End of display section of Service Tab -->
    <!-- Start of modal/form section of Service Tab -->

            <!-- The Services Modal -->
            <!-- The Services Modal will be used to add or remove services.-->
            <div id="services_modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <!--Add service form-->
                    <form class="form-horizontal" action="{{ url_for('admin.admin_interface') }}" method="POST" id="add_service_form" style="display: none">
                        <h3><b><center>Add Service<center></b></h3>
                            {{ add_service_form.hidden_tag() }}
                            <div class="form-group">
                                <label><b>{{add_service_form.name.label}}</b></label>
                                {{add_service_form.name(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_service_form.cost.label}}</b></label>
                                {{add_service_form.cost(class="form-control")}}
                            </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                    <!--Remove service form-->
                    <form class="form-horizontal" action="{{ url_for('admin.admin_interface') }}" method="POST" id="remove_service_form" style="display: none">
                        <h3><b><center>Remove Service</center></b></h3>
                            {{ remove_service_form.hidden_tag() }}
                            <div class="form-group">
                                <label><b>{{remove_service_form.name.label}}</b></label>
                                {{remove_service_form.name(class="form-control")}}
                            </div>                                  
                        <button type="submit" class="btn btn-default">Submit</button>    
                    </form>
                </div>
            </div>    
        </div>
    </div>    
    <div class="col-md-0" style="margin-top: 15px;"></div>   
    </div>                      
    <!-- End of Tables tab--> 
</div>
<!-- End of tab-content div-->

<script>
//This modals are used to collect the necesary information from the user in order to make some changes to data like reervations or tables
// variables & functions for modal control Reference:https://www.w3schools.com/bootstrap/bootstrap_modal.asp   
// Get the modals
var attendance_modal = document.getElementById('attendance_modal');
var services_modal = document.getElementById('services_modal');

// Get the button that opens the modals
var btn_edit_attendance = document.getElementById("btn_edit_attendance");
var btn_add_appointment = document.getElementById("btn_add_appointment");
var btn_cancel_appointment = document.getElementById("btn_cancel_appointment");
var btn_add_service = document.getElementById("btn_add_service");
var btn_remove_service = document.getElementById("btn_remove_service");

// Get the <span> element that closes the modals
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close")[1];

//Get the form ids
var add_service_form = document.getElementById("add_service_form");
var remove_service_form = document.getElementById("remove_service_form");

// When the user clicks on the button, open the modals
btn_edit_attendance.onclick = function() {
    attendance_modal.style.display = "block";
}
btn_add_appointment.onclick = function() {
    attendance_modal.style.display = "block";
}
btn_cancel_appointment.onclick = function() {
    attendance_modal.style.display = "block";
}
btn_add_service.onclick = function() {
    services_modal.style.display = "block";
    add_service_form.style.display = "block";
    remove_service_form.style.display = "none";
}
btn_remove_service.onclick = function() {
    services_modal.style.display = "block";
    remove_service_form.style.display = "block";
    add_service_form.style.display = "none";
}

// When the user clicks on <span> (x), close the modals
span.onclick = function() {
    attendance_modal.style.display = "none";
}
span2.onclick = function() {
    services_modal.style.display = "none";
}

// When the user clicks anywhere outside of the modals, close them
window.onclick = function(event) {
    if (event.target == attendance_modal || event.target == services_modal) {
        attendance_modal.style.display = "none";
        services_modal.style.display = "none";

    }
}

</script>    
{% endblock %}