{% extends 'base_template.html' %}
{% block content %}
<!-- This is the page that the admin will use to make changes to tables, reservations, users or track reservation that-->
<!-- will take place today or the historical data.-->

<script>
// Reference: http://www.bootply.com/lxa0FF9yhw
//script tha will make a pagination for the tables used in the curent page
$.fn.pageMe = function(opts){
    var $this = this,
        defaults = {
            perPage: 7,
            showPrevNext: false,
            hidePageNumbers: false
        },
        settings = $.extend(defaults, opts);

    var listElement = $this;
    var perPage = settings.perPage; 
    var children = listElement.children();
    var pager = $('.pager');

    if (typeof settings.childSelector!="undefined") {
        children = listElement.find(settings.childSelector);
    }

    if (typeof settings.pagerSelector!="undefined") {
        pager = $(settings.pagerSelector);
    }

    var numItems = children.length;
    var numPages = Math.ceil(numItems/perPage);

    pager.data("curr",0);

    if (settings.showPrevNext){
        $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
    }

    var curr = 0;
    while(numPages > curr && (settings.hidePageNumbers==false)){
        $('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
        curr++;
    }

    if (settings.showPrevNext){
        $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
    }

    pager.find('.page_link:first').addClass('active');
    pager.find('.prev_link').hide();
    if (numPages<=1) {
        pager.find('.next_link').hide();
    }
        pager.children().eq(1).addClass("active");

    children.hide();
    children.slice(0, perPage).show();

    pager.find('li .page_link').click(function(){
        var clickedPage = $(this).html().valueOf()-1;
        goTo(clickedPage,perPage);
        return false;
    });
    pager.find('li .prev_link').click(function(){
        previous();
        return false;
    });
    pager.find('li .next_link').click(function(){
        next();
        return false;
    });

    function previous(){
        var goToPage = parseInt(pager.data("curr")) - 1;
        goTo(goToPage);
    }

    function next(){
        goToPage = parseInt(pager.data("curr")) + 1;
        goTo(goToPage);
    }

    function goTo(page){
        var startAt = page * perPage,
            endOn = startAt + perPage;

        children.css('display','none').slice(startAt, endOn).show();

        if (page>=1) {
            pager.find('.prev_link').show();
        }
        else {
            pager.find('.prev_link').hide();
        }

        if (page<(numPages-1)) {
            pager.find('.next_link').show();
        }
        else {
            pager.find('.next_link').hide();
        }

        pager.data("curr",page);
        pager.children().removeClass("active");
        pager.children().eq(page+1).addClass("active");

    }
};

    //setting the per page elements on each table
    $(document).ready(function(){
        $('#upcoming_appointments_table_body').pageMe({pagerSelector:'#upcoming_appointments_pager',showPrevNext:true,hidePageNumbers:false,perPage:6});
        $('#appointments_history_table_body').pageMe({pagerSelector:'#appointments_history_pager',showPrevNext:true,hidePageNumbers:false,perPage:6});
        $('#users_table_body').pageMe({pagerSelector:'#users_pager',showPrevNext:true,hidePageNumbers:false,perPage:6});
        $('#services_table_body').pageMe({pagerSelector:'#services_pager',showPrevNext:true,hidePageNumbers:false,perPage:6});
    });
</script>

<!-- Content --> 
<!-- Start of admin's navigation menu div-->
<ul class="nav nav-pills wrapper4">
    <li class="active"><a data-toggle="pill" href="#home">Upcoming Appointments</a></li>
    <li><a data-toggle="pill" href="#menu1">Appointment History</a></li>
    <li><a data-toggle="pill" href="#menu2">Users</a></li>
    <li><a data-toggle="pill" href="#menu3">Services</a></li>
</ul>
<!-- End of admin's navigation menu div-->
    
<!-- Start of tab-content div-->
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <!-- Upcoming Appointments --> 
        <div class="col-md-0" style="margin-top: 15px;"></div>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="wrapper4">
                <h2 class="text-center">Upcoming Appointments</h2>
                <hr>
                <table class="table table-hover" id="upcoming_appointments_table">
                    <thead>
                        <th>Appointment Date</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Appointment Cost</th>
                        <th>Customer</th>
                        <th>Barber</th>
                        <th>Service</th>
                    </thead>
                    <tbody id="upcoming_appointments_table_body">
                        {% if upcoming_appointments %}
                            {% for up_app in upcoming_appointments %}
                            <tr>
                                <td> {{up_app.appointment_date}} </td>
                                <td> {{up_app.appointment_start_time}} </td>
                                <td> {{up_app.appointment_end_time}} </td>
                                <td> {{up_app.appointment_cost}} </td>
                                <td> {{up_app.user_cust.first_name}} {{up_app.user_cust.last_name}}</td>
                                <td> {{up_app.user_barb.first_name}} {{up_app.user_barb.last_name}}</td>
                                <td> {{up_app.service.name}} </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <ul class="pagination pagination-lg pager" id="upcoming_appointments_pager"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-0" style="margin-top: 15px;"></div>       
    </div>
    <!-- End of Upcoming Appointments-->
    
    <!-- Reservation History --> 
    <div id="menu1" class="tab-pane fade">
        <div class="col-md-0" style="margin-top: 15px;"></div>
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="wrapper4">
                <h2 class="text-center">Appointment History</h2>
                <hr>
                <table class="table table-hover" id="appointments_history_table">
                    <thead>
                        <th>Appointment Date</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Appointment Cost</th>
                        <th>Customer</th>
                        <th>Barber</th>
                        <th>Service</th>
                        <th>Attendance</th>
                        <th>Appointment Made on</th>
                    </thead>
                    <tbody id="appointments_history_table_body">
                        {% if appointments %}
                            {% for appointment in appointments %}
                            <tr class="numOfRows">
                                <td> {{appointment.appointment_date}} </td>
                                <td> {{appointment.appointment_start_time}} </td>
                                <td> {{appointment.appointment_end_time}} </td>
                                <td> {{appointment.appointment_cost}} </td>
                                <td> {{appointment.user_cust.first_name}} {{appointment.user_cust.last_name}}</td>
                                <td> {{appointment.user_barb.first_name}} {{appointment.user_barb.last_name}}</td>
                                <td> {{appointment.service.name}} </td>
                                <td> {{appointment.attendance}} </td>
                                <td> {{appointment.timestamp}} </td>
                                <td>
                                    <button class="btn btn-success btn-xs">
                                        <a style="color: #fff; text-decoration: :none;" href="{{ url_for('admin.mark_attended', id=appointment.id) }}">
                                            <span class='glyphicon glyphicon-ok-sign'></span> Attended
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs">
                                        <a style="color: #fff; text-decoration: :none;" href="{{ url_for('admin.mark_unattended', id=appointment.id) }}">
                                            <span class='glyphicon glyphicon-minus-sign'></span> Unattended
                                        </a>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-xs">
                                        <a style="color: #fff; text-decoration: :none;" href="{{ url_for('admin.mark_canceled', id=appointment.id) }}">
                                            <span class='glyphicon glyphicon-remove-sign'></span> Cancel
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                   <ul class="pagination pagination-lg pager" id="appointments_history_pager"></ul>
                </div>

                <button id="btn_add_appointment" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Appointment</button>

                <!-- The Appointment Management Modal -->
                <div id="appointment_management_modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <form action="{{ url_for('admin.add_appointment') }}" method="post">
                            {{ add_appointment_form.hidden_tag() }}
                            <h3><b><center>Make an Appointment<center></b></h3>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-calendar"></span><b>{{ add_appointment_form.appointment_date.label }}</b></label>
                                {{add_appointment_form.appointment_date(class="form-control",type="text", id="datepicker2", placeholder="Click to pick the appointment date")}}
                            </div>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-time"></span><b>{{ add_appointment_form.appointment_time.label }}</b></label>
                                {{add_appointment_form.appointment_time(class="form-control",type="text", id="timepicker2", placeholder="Click to pick the appointment time")}}
                            </div>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-user"></span><b>{{ add_appointment_form.customer.label }}</b></label><br>
                                {{add_appointment_form.customer(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-user"></span><b>{{ add_appointment_form.barber.label }}</b></label><br>
                                {{add_appointment_form.barber(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <label><span class="glyphicon glyphicon-scissors"></span><b>{{ add_appointment_form.service.label }}</b></label>
                                {{add_appointment_form.service(class="form-control")}}
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>                  
        </div>
        <div class="col-md-0" style="margin-top: 15px;"></div> 
    </div>
    <!-- End of Reservation History-->
    
    <!-- Users Tab --> 
    <div id="menu2" class="tab-pane fade">
    <div class="col-md-0" style="margin-top: 15px;"></div>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="wrapper4">
            <h2 class="text-center">Users</h2>
            <hr>
            <table class="table table-hover" id="users_table">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Telephone</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Admin Privileges</th>
                    <th>Registered in</th>
                </thead>
                <tbody id="users_table_body">
                    {% if users %}
                        {% for user in users %}
                        <tr>
                            <td> {{user.first_name}} </td>
                            <td> {{user.last_name}} </td>
                            <td> {{user.birth_date}} </td>
                            <td> {{user.telephone}} </td>
                            <td> {{user.email}} </td>
                            <td> {{user.role.role_title}}</td>
                            <td> {{user.is_admin}} </td>
                            <td> {{user.timestamp}} </td>
                            <td>
                                <button class="btn btn-xs btn-danger">
                                    <a style="color: #fff; text-decoration: none;" href="{{ url_for('admin.delete_user', id=user.id) }}">
                                        <span class='glyphicon glyphicon-trash'></span> Delete
                                    </a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
               <ul class="pagination pagination-lg pager" id="users_pager"></ul>
            </div>

            <button id="btn_add_user" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Users</button>
            <!-- End of display section of Users Tab -->
            <!-- Start of modal/form section of Users Tab -->

            <!-- The Users Modal -->
            <!-- The Users Modal will be used to add or remove services.-->
            <div id="users_modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <!--Add service form-->
                    <form class="form-horizontal" action="{{ url_for('admin.add_user') }}" method="post" id="add_user_form">
                        <h3><b><center>Add User<center></b></h3>
                            {{ add_user_form.hidden_tag() }}
                            <div class="form-group">
                                <label><b>{{add_user_form.first_name.label}}</b></label>
                                {{add_user_form.first_name(class="form-control", placeholder="Must contain only letters and whitespaces")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.last_name.label}}</b></label>
                                {{add_user_form.last_name(class="form-control", placeholder="Must contain only letters and whitespaces")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.birth_date.label}}</b></label>
                                {{add_user_form.birth_date(class="form-control", id="datepicker", placeholder="Click to drop the calendar")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.email.label}}</b></label>
                                {{add_user_form.email(class="form-control", placeholder="Enter the email")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.telephone.label}}</b></label>
                                {{add_user_form.telephone(class="form-control", placeholder="Must contain only numbers(10)")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.password.label}}</b></label>
                                {{add_user_form.password(class="form-control", type="password", placeholder="Must contain 1 capital letter, 1 number & at least 8 characters")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{ add_user_form.confirm_password.label }}</b></label>
                                {{ add_user_form.confirm_password(class="form-control", type="password", placeholder="Repeat the password") }}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.role_id.label}}</b></label>
                                {{add_user_form.role_id(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_user_form.is_admin.label}}</b></label>
                                {{add_user_form.is_admin(class="radio-inline")}}
                            </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>    
        </div>
    </div>    
    <div class="col-md-0" style="margin-top: 15px;"></div>
    </div>            
    <!-- End of Users tab--> 
    
    <!-- Services Tab --> 
    <div id="menu3" class="tab-pane fade">
    <div class="col-md-0" style="margin-top: 15px;"></div>
    <div class="col-md-12" style="margin-top: 15px;">
        <div class="wrapper4">
            <h2 class="text-center">Services</h2>
            <hr>
            <table class="table table-hover" id="servicesTable">
                <thead>
                    <th>Service</th>
                    <th>Cost</th>
                </thead>
                <tbody id="services_table_body">
                {% if services %}
                    {% for service in services %}
                    <tr>
                        <td> {{service.name}} </td>
                        <td> {{service.cost}} </td>
                        <td>
                            <a href="{{ url_for('admin.delete_service', id=service.id) }}">
                                <span class='glyphicon glyphicon-trash'></span> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
               <ul class="pagination pagination-lg pager" id="services_pager"></ul>
            </div>
            
            <button id="btn_add_service" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Services</button>

            <!-- End of display section of Service Tab -->
            <!-- Start of modal/form section of Service Tab -->

            <!-- The Services Modal -->
            <!-- The Services Modal will be used to add or remove services.-->
            <div id="services_modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <!--Add service form-->
                    <form class="form-horizontal" action="{{ url_for('admin.add_service') }}" method="POST" id="add_service_form" style="display: none">
                        <h3><b><center>Add Service<center></b></h3>
                            {{ add_service_form.hidden_tag() }}
                            <div class="form-group">
                                <label><b>{{add_service_form.name.label}}</b></label>
                                {{add_service_form.name(class="form-control")}}
                            </div>
                            <div class="form-group">
                                <label><b>{{add_service_form.cost.label}}</b></label>
                                {{add_service_form.cost(class="form-control")}}
                            </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>    
        </div>
    </div>    
    <div class="col-md-0" style="margin-top: 15px;"></div>   
    </div>                      
    <!-- End of Services tab--> 
</div>
<!-- End of tab-content div-->

<script>
//This modals are used to collect the necesary information from the user in order to make some changes to data like reervations or tables
// variables & functions for modal control Reference:https://www.w3schools.com/bootstrap/bootstrap_modal.asp   
// Get the modals
var appointment_management_modal = document.getElementById('appointment_management_modal');
var services_modal = document.getElementById('services_modal');
var users_modal = document.getElementById('users_modal');

// Get the button that opens the modals
var btn_add_appointment = document.getElementById("btn_add_appointment");
var btn_add_user = document.getElementById("btn_add_user");
var btn_add_service = document.getElementById("btn_add_service");

// Get the <span> element that closes the modals
var span = document.getElementsByClassName("close")[0];
var span2 = document.getElementsByClassName("close")[1];

//Get the form ids
var add_service_form = document.getElementById("add_service_form");

// When the user clicks on the button, open the modals
btn_add_appointment.onclick = function() {
    appointment_management_modal.style.display = "block";
}
btn_add_user.onclick = function(){
    users_modal.style.display = "block";
}
btn_add_service.onclick = function() {
    services_modal.style.display = "block";
    add_service_form.style.display = "block";
}

// When the user clicks on <span> (x), close the modals
span.onclick = function() {
    appointment_management_modal.style.display = "none";
}
span2.onclick = function() {
    services_modal.style.display = "none";
}

// When the user clicks anywhere outside of the modals, close them
window.onclick = function(event) {
    if (event.target == appointment_management_modal || event.target == services_modal || event.target == users_modal) {
        appointment_management_modal.style.display = "none";
        services_modal.style.display = "none";
        users_modal.style.display = "none";
    }
}

</script>    
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
{% endblock %}