{% extends 'base_template.html' %}
{% block content %}
<!--Form--> 
<div class="row">    
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="wrapper2">
            <form action="{{ url_for('reg_user.edit_email') }}" method="post">
                <div class="form-group">
                    <label for="emailold"><b>Currently Used E-mail:</b></label>
                    <input class="form-control" value="{{ current_edit.email }}" disabled>
                </div>
                <div class="form-group">
                    <label for="email1"><b>New E-mail:</b></label>
                    {{ edit_email_form.email(class='form-control', type=email) }}
                </div>
                <div class="form-group">
                    <label for="email2"><b>Repeat New E-mail:</b></label>
                    {{ edit_email_form.confirm_email(class='form-control', type=email) }}
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>        
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}
