{% extends 'base_template.html' %}
{% block content %}
<!--Form--> 
<div class="row">    
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="wrapper2">
            <form action="{{ url_for('reg_user.edit_password') }}" method="post">
                <div class="form-group">
                    <label for="pwdold"><b>Currently Used Password:</b></label>
                    {{ edit_password_form.current_password(class="form-control", type="password") }}
                </div>
                <div class="form-group">
                    <label for="pwd1"><b>New Password:</b></label>
                    {{ edit_password_form.password(class="form-control", type="password", placeholder="Must contain 1 capital letter, 1 number & at least 8 characters") }}
                </div>
                <div class="form-group">
                    <label for="pwd2"><b>Repeat New Password:</b></label>
                    {{ edit_password_form.confirm_password(class="form-control", type="password", placeholder="Must contain 1 capital letter, 1 number & at least 8 characters") }}
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>            
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}
  