{% extends 'base_template.html' %}
{% block content %}

<!-- This is the page that the admin will use to make changes to tables, reservations, users or track reservation that-->
<!-- will take place today or the historical data.-->
<style>
    /* Styling for the attendance block - Reference:https://www.w3schools.com/howto/howto_css_modals.asp */
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
    <!-- Content --> 
        <!-- Start of admin's navigation menu div-->
        <ul class="nav nav-pills wrapper4">
            <li class="active"><a data-toggle="pill" href="#home">Reservations For Today</a></li>
            <li><a data-toggle="pill" href="#menu1">Reservation History</a></li>
            <li><a data-toggle="pill" href="#menu2">Users</a></li>
            <li><a data-toggle="pill" href="#menu3">Tables</a></li>
        </ul>
        <!-- End of admin's navigation menu div-->
        
        <!-- Start of tab-content div-->
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <!-- Today's reservations --> 
                <div class="col-md-0" style="margin-top: 15px;"></div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="wrapper4">
                        <h2 class="text-center">Reservations For Today</h2>
                        <hr>
                        <table class="table table-hover" id="myTable1">
                            <thead>
                                <th>Reservation ID</th>
                                <th>User ID</th>
                                <th>Table #1</th>
                                <th>Table #2</th>
                                <th>Persons</th>
                                <th>Reservation Made on</th>
                                <th>Reserved by</th>
                                <th>Reserved via</th>
                                <th>Reserved for</th>
                                <th>Arrival</th>
                                <th>Departure</th>
                                <th>Reservation Status</th>
                                <th>Attendance</th>
                            </thead>
                            <tbody id="myTableBody1">
                        <?php
                        $sql4 = "SELECT * FROM reservations WHERE reserve_date = '$today' ORDER BY reservation_status ASC, reserve_date ASC, reserve_time_start ASC";
                        $result4 = mysqli_query($conn, $sql4);
                        while($row = mysqli_fetch_assoc($result4)){
                            echo '<tr>';
                                foreach($row as $field) {
                                    if($field === null){
                                        echo '<td>' .  " - " . '</td>'; 
                                    }else{
                                    echo '<td>' . htmlspecialchars($field) . '</td>';
                                    }
                                }
                            echo '</tr>';
                        }
                        ?>
                            </tbody>
                        </table>
                        
                       <div class="col-md-12 text-center">
                           <ul class="pagination pagination-lg pager" id="myPager1"></ul>
                       </div>
                        <button id="myBtn">Edit Attendance</button>

                        <!-- The Attendance Modal -->
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <form action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]); ?>" method="POST">
                                    <div class="form-group">
                                    <label for="resId"><span class="glyphicon glyphicon-cutlery"></span><b> Reservation ID:</b></label>
                                    <input type="text" name="resId" required>
                                    </div>

                                    <div class="form-group">
                                    <label for="attended"><span class="glyphicon glyphicon-time"></span><b> Attended:</b></label>
                                    <input type="radio" name="attended" value="yes" required>Yes
                                    <input type="radio" name="attended" value="no">No
                                    <span class="error"></span>
                                    </div>

                                    <button type="submit" class="btn btn-default">Submit</button>    
                                </form>
                            </div>

                        </div>

                        <?php
                        //preparing the data that will update the attendance field in the DB
                        if(isset($_POST['resId'])){
                        $resId = test_input($_POST['resId']);
                        }
                        if(isset($_POST['attended'])){
                        $attend = test_input($_POST['attended']);  
                        }

                        if(isset($attend) && isset($resId)){
                            if($attend === "yes"){
                                $sql = "UPDATE reservations SET showed_up = 'Yes' WHERE reservationid = '$resId'";
                                $result = mysqli_query($conn, $sql);
                                echo "<meta http-equiv='refresh' content='0'>";
                            }
                            elseif($attend === "no"){
                                $sql = "UPDATE reservations SET showed_up = 'No' WHERE reservationid = '$resId'";
                                $result = mysqli_query($conn, $sql);
                                echo "<meta http-equiv='refresh' content='0'>";
                            }
                        }
                        ;
                        ?>


                    </div>
                </div>
                <div class="col-md-0" style="margin-top: 15px;"></div>     
            </div>
            <!-- End of reservation for today-->
            
            <!-- Reservation History --> 
            <div id="menu1" class="tab-pane fade">
                <div class="col-md-0" style="margin-top: 15px;"></div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="wrapper4">
                        <h2 class="text-center">Reservation History</h2>
                        <hr>
                        <table class="table table-hover" id="myTable2">
                            <thead>
                                <th>Reservation ID</th>
                                <th>User ID</th>
                                <th>Table #1</th>
                                <th>Table #2</th>
                                <th>Persons</th>
                                <th>Reservation Made on</th>
                                <th>Reserved by</th>
                                <th>Reserved via</th>
                                <th>Reserved for</th>
                                <th>Arrival</th>
                                <th>Departure</th>
                                <th>Reservation Status</th>
                                <th>Attendance</th>
                            </thead>
                            <tbody id="myTableBody2">
                        <?php
                        $sql5 = "SELECT * FROM reservations ORDER BY reservation_status ASC, reserve_date ASC";
                        $result5 = mysqli_query($conn, $sql5);
                        while($row = mysqli_fetch_assoc($result5)){
                            echo '<tr class="numOfRows">';
                                foreach($row as $field) {
                                    if($field === null){
                                        echo '<td>' .  " - " . '</td>'; 
                                    }else{
                                    echo '<td>' . htmlspecialchars($field) . '</td>';
                                    }
                                }
                            echo '</tr>';
                        }
                        ?>
                            </tbody>
                        </table>
                        <div class="col-md-12 text-center">
                           <ul class="pagination pagination-lg pager" id="myPager2"></ul>
                        </div>
                    </div>                  
                </div>
                <div class="col-md-0" style="margin-top: 15px;"></div> 
            </div>
            <!-- End of reservation for today-->
            
            <!-- Users Tab --> 
            <div id="menu2" class="tab-pane fade">
                <div class="col-md-0" style="margin-top: 15px;"></div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="wrapper4">
                        <h2 class="text-center">Users Tab</h2>
                        <hr>
                        <table class="table table-hover" id="myTable3">
                            <thead>
                                <th>User ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>E-mail</th>
                                <th>Telephone</th>
                                <th>Gender</th>
                                <th>Smoking Habits</th>
                                <th>Role</th>
                                <th>Registered in</th>
                            </thead>
                            <tbody id="myTableBody3">
                        <?php
                        $sql6 = "SELECT userid, first_name, last_name, email, telephone, gender, is_smoker, is_admin, reg_date FROM users ORDER BY is_admin ASC, reg_date ASC";
                        $result6 = mysqli_query($conn, $sql6);
                        while($row = mysqli_fetch_assoc($result6)){
                            echo '<tr class="numOfRows">';
                                foreach($row as $field) {
                                    if($field === null){
                                        echo '<td>' .  " - " . '</td>'; 
                                    }else{
                                    echo '<td>' . htmlspecialchars($field) . '</td>';
                                    }
                                }
                            echo '</tr>';
                        }
                        ?>
                            </tbody>
                        </table>
                        <div class="col-md-12 text-center">
                           <ul class="pagination pagination-lg pager" id="myPager3"></ul>
                        </div>
                    </div>
                </div>    
                <div class="col-md-0" style="margin-top: 15px;"></div>                
            </div>
            <!-- End of Users tab--> 
            
            
            <!-- Tables Tab --> 
            <div id="menu3" class="tab-pane fade">
                <div class="col-md-0" style="margin-top: 15px;"></div>
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="wrapper4">
                        <h2 class="text-center">Tables Tab</h2>
                        <hr>
                        <table class="table table-hover" id="myTable4">
                            <thead>
                                <th>Table ID</th>
                                <th>Chairs</th>
                                <th>Section ID</th>
                                <th>Section Name</th>
                                <th>Status ID</th>
                                <th>Status</th>
                            </thead>
                            <tbody id="myTableBody4">
                        <?php
                        //query that will render visibe the amount of existing tables
                        $sql7 = "SELECT tableid, chair_count, tables.section_id, sections.section_name, tables.status_id, table_status.status FROM tables INNER JOIN Sections ON sections.sectionid = tables.section_id INNER JOIN Table_Status ON table_status.tab_statusid= tables.status_id";
                        $result7 = mysqli_query($conn, $sql7);
                        while($row = mysqli_fetch_assoc($result7)){
                            echo '<tr>';
                                foreach($row as $field) {
                                    if($field === null){
                                        echo '<td>' .  " - " . '</td>'; 
                                    }else{
                                    echo '<td>' . htmlspecialchars($field) . '</td>';
                                    }
                                }
                            echo '</tr>';
                        }
                        ?>
                            </tbody>
                        </table>
                        <div class="col-md-12 text-center">
                           <ul class="pagination pagination-lg pager" id="myPager4"></ul>
                        </div>
                        
                        <button id="myBtn2">Add/Remove Tables</button>
                        <!-- The Table Modal -->
                        <!-- The Table Modal will be used to add or remove tables from the database.-->
                        <!-- Since there is no mechanism that will reset the tables to 40(default value) every day, the user will have to do it.-->
                        <div id="myModal2" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <form action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]); ?>" method="POST">
                                    <!--Add section-->
                                    <h3><b>Add Tables</b></h3>
                                    <div id='AddTable'>
                                        <div class="form-group">
                                        <label for="TableId"><b> New Table ID:</b></label>
                                        <input type="text" name="TableId">
                                        </div>

                                        <div class="form-group">
                                        <label for="TabChairCount"><b>Chair Count:</b></label>
                                        <input type="text" name="TabChairCount">
                                        </div>

                                        <div class="form-group">
                                        <label for="TabSecId"><b>Section ID:</b></label>
                                        <input type="text" name="TabSecId">
                                        </div>
                                    </div>
                                    <!--Remove Section-->
                                    <h3><b>Remove Tables</b></h3>
                                    <div id='RemoveTable'>
                                        <div class="form-group">
                                        <label for="RemoveId"><b>Remove by Table ID:</b></label>
                                        <input type="text" name="RemoveId">
                                        </div>
                                    </div>                                    
                                    <button type="submit" class="btn btn-default">Submit</button>    
                                </form>
                            </div>

                        </div>

                        <?php
                        //php functionality to the modals 
                        //declaring variables
                        $TableId = $TabChairCount = $TabSecId = $RemoveId = null;
                        //preparing the data that will update the attendance field in the DB
                        if(isset($_POST['TableId'])){
                        $TableId = test_input($_POST['TableId']);
                        }
                        if(isset($_POST['TabChairCount'])){
                        $TabChairCount = test_input($_POST['TabChairCount']);  
                        }
                        if(isset($_POST['TabSecId'])){
                        $TabSecId = test_input($_POST['TabSecId']);  
                        }
                        if(isset($_POST['RemoveId'])){
                        $RemoveId = test_input($_POST['RemoveId']);  
                        }

                        if(isset($TableId) && isset($TabChairCount) && isset($TabSecId) && $TableId != null){
                                $sql = "INSERT INTO tables(tableid, chair_count,section_id, status_id) VALUES ('$TableId', '$TabChairCount', '$TabSecId', '1')";
                                $result = mysqli_query($conn, $sql);
                                echo "<meta http-equiv='refresh' content='0'>";
                            }
                            elseif(isset($RemoveId)){
                                $sql = "DELETE FROM tables WHERE tableid = '$RemoveId'";
                                $result = mysqli_query($conn, $sql);
                                echo "<meta http-equiv='refresh' content='0'>";
                            }
                        ;
                        ?>
                        
                    </div>
                </div>    
                <div class="col-md-0" style="margin-top: 15px;"></div>                
            </div>
            <!-- End of Tables tab--> 
        </div>
    <!-- End of tab-content div-->
    <script>
    //This modals are used to collect the necesary information from the user in order to make some changes to data like reervations or tables
    // variables & functions for modal control Reference:https://www.w3schools.com/bootstrap/bootstrap_modal.asp   
    // Get the modals
    var modal = document.getElementById('myModal');
    var modal2 = document.getElementById('myModal2');

    // Get the button that opens the modals
    var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("myBtn2");

    // Get the <span> element that closes the modals
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close")[1];


    // When the user clicks on the button, open the modal s
    btn.onclick = function() {
        modal.style.display = "block";
    }
    btn2.onclick = function() {
        modal2.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modals
    span.onclick = function() {
        modal.style.display = "none";
    }
    span2.onclick = function() {
        modal2.style.display = "none";
    }

    // When the user clicks anywhere outside of the modals, close them
    window.onclick = function(event) {
        if (event.target == modal || event.target == modal2) {
            modal.style.display = "none";
            modal2.style.display = "none";

        }
    }

    </script>    
{%endblock%}