        <title>
            {{title}} | {{company_name.name}}®
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap link to CSS & JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom CSS & JavaScript -->
        <link rel="stylesheet" href="/static/css/custom.css" type="text/css">
        <script src="/static/js & jquery/myScripts.js"></script>
        <script src="/static/js & jquery/jquery.js"></script>
        <!-- Background styling-->
        <style>
            .error {color: #FF0000;}
            
            body {
            background-image:    url(/static/fonts/bg4.jpg);
            background-attachment: fixed;
            }
        </style>
