<?php

//session start
session_start();
//DB connection
include 'includes/connection.php';

//check for open session else redirect
if(!isset($_SESSION['account_type'])){
    header("Location: Index.php");
}

$userid = $_SESSION['userid'];
$operator = null;
$currentActiveRes = null;

if (isset($_SESSION['username']) && isset($_SESSION['lname'])) {
$operator = $_SESSION['username'] . " " .$_SESSION['lname'];
}
//Query for selectting the current user of the application
$sql = "SELECT first_name, last_name, email, telephone, password, is_admin, is_smoker FROM users WHERE userid = '$userid' ";
$result = mysqli_query($conn, $sql);

?>

<!-- This page acts as the personal profil of any every individual, registered to this app -->
<!-- Here users can track their active reservations, edit their personal data at will(Note: for better acknowledgement of users, a log file should be made tracking those changes)-->
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>
            My Account | Papa Felipe's®
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap link to CSS & JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom CSS & JavaScript -->
        <link rel="stylesheet" href="css/custom.css" type="text/css">
        <script src="js & jquery/myScripts.js"></script>
        <script src="js & jquery/jquery.js"></script>
        <script>
            /*This function identifies the user of the page.
            *If he is an unregistered visitor the options button will appear along with the options to login & register
            but in the case of a user account the options will be replaced with the greetings message*/
            $( document ).ready(function() {
                var userview = <?php echo json_encode($_SESSION['username']) ?>;
                
                if(userview != null){
                $("a[href='Register.php']").attr('href', 'MyAccount.php');    
                $("a[href='Login.php']").attr('href', 'Logout.php');
                }
            });
        </script> 
        <script>
            //script for making a pagination system on the reservation history table
            //Video Source/Reference:https://www.youtube.com/watch?v=hxayKRnC9NA
            $(document).ready(function() {
            
            //declaring variables
            var page = 1;
            var per_page = 5;
            var items = $('.numOfRows').length;
            var last_page = Math.ceil(items/per_page);
                
            //Set Page
            function setPage(page){
                $('.numOfRows').slice(0, page * per_page).hide();
                $('.numOfRows').slice(page * per_page - per_page,page * per_page).show();
                $('.numOfRows').slice(page * per_page).hide();
                $('#page_display').html('Page ' + page);
            }
            
            //Next Button
            $('.next').click(function(){
                if(page < last_page){
                    page++;
                    setPage(page);
                }
            });
            
            
            //Previous Button
            $('.prev').click(function(){
                if(page > 1){
                    page--;
                    setPage(page);
                }
            });
            
            
            //Generate Page Links
            for(x = 1; x <= last_page; x++){
                $('.pages').append('<a class="links link_"' + x + '">' + x + '</a>' + ' '); 
            }
            
                
            //Links functions
            $('.links').click(function(){
                $('.links.link_' + page).attr('href', '#');
                page = $(this).html();
                $('.links.link_' + page).removeAttr('href');
                setPage(page);
            });
                
            setPage(1);        
            });
        </script>
        <!-- Background styling-->
        <style>
            .error {color: #FF0000;}
            
            body {
            background-image:    url(fonts/Background3t.jpg);
            background-attachment: fixed;
            }
        </style>
    </head>    
    
    <body class="img-responsive">
    <!--Navigation bar 1.6 -->
    <!-- Reference: W3Schools http://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                         
                    </button>
                    <a class="navbar-brand hidden-lg hidden-md" href="Index.php"><span class="glyphicon glyphicon-home"></span></a>
                    <a class="navbar-brand hidden-sm hidden-xs" href="Index.php"><span id="logo">Papa Felipe's</span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="Menu.php">Menu</a></li>
                        <li><a href="ReservationsTab.php">Reservations</a></li>
                        <li><a href="Contact.php">Contact</a></li>
                        <li><a href="AboutUs.php">About Us</a></li>
                    </ul>   
                    <ul class="nav navbar-nav navbar-right navbar-collapse" style="font-size:calc(80% + 1vw); position: relative; top:2%;">
                        <div class="dropdown">
                            <span class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown"><?php echo $_SESSION['username'];?></span>
                            <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="MyAccount.php"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                            <li><a href="Admin_Interface.php"><span class="glyphicon glyphicon-king"></span> Admin Interface</a></li>
                            <li><a href="Logout.php"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>            
        
    <!-- End of navigation bar -->
    
    <!-- Content -->
        <!-- Personal Info -->
        <div class="container-default" style="margin-bottom: 75px;">
            <div class="col-md-6">
                <div class="wrapper3">
                    <h2 class="text-center">Personal Information</h2>
                    <hr>
                    <ul>
                        <?php 
                            if (mysqli_num_rows($result) > 0) {
                                // output data of each row
                                while($row = mysqli_fetch_assoc($result)) {

                                    $lnlen = strlen($row["last_name"]);
                                    $emaillen = strlen($row["email"]);
                                    $emailduck = strpos($row["email"],"@");
                                    $tellen = strlen($row["telephone"]);
                                    $pwdlen = strlen($row["password"]);
                                    $acclen = strlen($row["is_admin"]);
                                    //Just displaying all the personal data freely could cause security breaches in cases that the user is navigating the page
                                    // in either an outdoor envioment where he can be seen or a public network so the data could be fished out.
                                    //It was chosen to filter the data with the functions substr(), strlen(), str_repeat() as to hide parts of the info and replace it with stars, just like passwords do.
                                    echo    "<li> Name: " . $row["first_name"]. '<a href=update_info_functions/updateFirstName.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" . 
                                            "<li> Lastname: " . substr($row["last_name"], 0, 1) . str_repeat("*", $lnlen-1) . '<a href=update_info_functions/updateLastName.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" . 
                                            "<li> E-mail: " . substr($row["email"], 0, 1) . str_repeat("*", $emailduck-1) . substr($row["email"], $emailduck) . '<a href=update_info_functions/updateEmail.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" . 
                                            "<li> Telephone: " . substr($row["telephone"], 0, 3) . str_repeat("*", $tellen-3) .'<a href=update_info_functions/updateTelephone.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" . 
                                            "<li> Password: " . substr($row["password"], 0, 1) . str_repeat("*", $pwdlen-1) . '<a href=update_info_functions/updatePassword.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" . 
                                            "<li> Smoker: " . $row["is_smoker"]. '<a href=update_info_functions/updateSmoker.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" ;
                                    if($row["is_admin"] === "admin"){
                                        echo " - Account Type: " . substr($row["is_admin"], 0, 1) . str_repeat("*", $acclen-1) . '<a href=update_info_functions/updateAccType.php> edit<span class="glyphicon glyphicon-edit"></span></a></li>' . "<br>" ;
                                    }
                                }
                            } 
                            else {
                                echo "0 results";
                            }
                        ?>
                    </ul>  
                </div>     
            </div>
            <!-- End of Personal Info -->
            
            <!-- Start of Active Reservation -->
            <div class="col-md-6">
                <div class="wrapper3">
                    <h2 class="text-center">Active Reservation</h2>
                    <hr>
                    <ul>
                    <?php
                    //Query for finding the upcoming reservation made by the user
                    $sql3 = "SELECT reservationid, tableid, second_table, persons, MIN(reserve_date), reserve_time_start, reserve_time_end FROM reservations WHERE userid = '$userid' AND reservation_status = 'active' AND operator = '$operator' GROUP BY reservationid LIMIT 1";
                    $result3 = mysqli_query($conn, $sql3);
                    if(mysqli_num_rows($result3) > 0){
                        while($row = mysqli_fetch_assoc($result3)){
                            $currentActiveRes = $row['reservationid'];
                            echo    "<li> Reservation ID: " . $row['reservationid'] . "</li>" . "<br>" .
                                    "<li> Persons: " . $row['persons'] . "</li>" . "<br>" .
                                    "<li> Date: " . $row['MIN(reserve_date)'] . "</li>" . "<br>" .
                                    "<li> Arrival: " . $row['reserve_time_start'] . "</li>" . "<br>" .
                                    "<li> Departure: " . $row['reserve_time_end'] . "</li>" . "<br>" .
                                    "<li> Table #1: " . $row['tableid'];
                            if(isset($row['second_table'])){
                                echo " &  Table #2: " .  $row['second_table'] . "</li>";
                            }
                        }
                    }else{
                        echo "<br>" . "<br>" . "<br>" . "<center>There is no active reservation</center>" . "<br>" . "<center><i><p style='font-size:80%;'>*for a reservation to be considered active, it must be done by the user</p></i></center>" . "<br>" . "<br>" . "<br>" . "<br>" . "<br>";
                    }
                    ?>

                    </ul>
                    <button>Cancel this Reservation

                    </button>
                </div>    
            </div>   
        </div>
        
        <!--Start of Reservation History -->
            <div class="col-md-0" style="margin-top: 15px;"></div>
            <div class="col-md-12" style="margin-top: 15px;">
                <div class="wrapper4">
                    <h2 class="text-center">Reservation History</h2>
                    <hr>
                    <table class="table table-hover">
                        <thead>
                            <th>Reservation ID</th>
                            <th>Table #1</th>
                            <th>Table #2</th>
                            <th>Persons</th>
                            <th>Reservation Made on</th>
                            <th>Reserved by</th>
                            <th>Reserved via</th>
                            <th>Reserved for</th>
                            <th>Arrival</th>
                            <th>Departure</th>
                            <th>Reservation Status</th>
                            <th>Attendance</th>
                        </thead>
                        <tbody id="myTable"></tbody>
                    <?php
                    //query for filling the table with the user's reservation history
                    $sql4 = "SELECT reservationid, tableid, second_table, persons, res_date, operator, reserved_via, reserve_date, reserve_time_start, reserve_time_end, reservation_status, showed_up FROM reservations WHERE userid = '$userid' ORDER BY reservation_status ASC, reserve_date ASC, reserve_time_start ASC";
                    $result4 = mysqli_query($conn, $sql4);
                    while($row = mysqli_fetch_assoc($result4)){
                        echo '<tr class="numOfRows">';
                            foreach($row as $field) {
                                if($field === null){
                                    echo '<td>' .  " - " . '</td>'; 
                                }else{
                                echo '<td>' . htmlspecialchars($field) . '</td>';
                                }
                            }
                        echo '</tr>';
                    }
                    ?>
                        </tbody>
                    </table>
                    <div id="page_display"></div><br>
                    
                    <span class="pages"></span><br>
                    
                    <button type="button" class="prev">Previous</button>
                    <button type="button" class="next">Next</button>
                </div>
            </div>
            <div class="col-md-0" style="margin-top: 15px;"></div>   
        <!-- End of content-->
    
        <!-- footer version 1 (a more dynamic footer that requires enough data to display correctly else it will hang is the middle of the page)-->
        <div class="container-default">
            <div class="col-md-0"></div>
            <div class="col-md-12 text-center footer"><p>Papa Felipe's® est. 1994 - <?php echo Date('Y');?>. All Rights Reserved.<p></div>
            <div class="col-md-0"></div>
        </div>

    </body>
</html>
