<?php
//One would say this is the heart of the application since it validates and confirms the reservations.
//Here a term in introduced: the active reservation.
//In order to prevent spam reservations, users can make only 1 reservation at a time using the application
//if they want to close more, they need to contact the restaurant directly
//the restaurant owner then can use the knowledge from the field Attendance that tracks if the user shows up at his/her reservations 
//and appoint him any number of reservations he sees fit using the admin account type

//session start
session_start();
//DB connection
include 'includes/connection.php';

//check for open session else redirect
if(!isset($_SESSION['account_type'])){
    header("Location: Index.php");
}elseif(!isset($_POST['visitdate']) || !isset($_POST['visittime']) || !isset($_POST['personsoptions']) || !isset($_POST['smokers'])){
    header("Location: ReservationsTab.php");
}

//session variables needed for queries etc..
if(isset($_POST['resowner'])){
    $userid = test_input($_POST['resowner']);
}
else{
$userid = $_SESSION['userid'];
}
$operator = $_SESSION['username'] . " " .$_SESSION['lname'];
if(isset($_POST['reserved_via'])){
$reserved_via = test_input($_POST['reserved_via']);
}else{
   $reserved_via = 'Website'; 
}
//local variables needed for the reservations etc..
$availableTables = array();
$resTable1 = 0;
$resTable2 = 0;
$SuccessMessage;
$ErrorMessage;
$firsttable;
$secondtable;

//date & time initialization
date_default_timezone_set("Europe/Athens"); 
$today = date("m/d/Y");
$reservationDate = date($_POST['visitdate']);
$reservationTime = test_input($_POST['visittime']);
$reservationEndTime = date("G:i",strtotime('+2 hours',strtotime($reservationTime)));
//variables for calculating available tables based on persons and smoking habits
$persons = test_input($_POST['personsoptions']);
$smoking = test_input($_POST['smokers']);

//query for deducting the available tables, based on the reservation time picked
$sql1 = "SELECT tableid, second_table FROM reservations WHERE reserve_date = '$reservationDate' AND reserve_time_start = '$reservationTime'";
$result = mysqli_query($conn, $sql1);
    while ($row = mysqli_fetch_assoc($result)) {
        $firsttable = $row['tableid'];
        $secondtable = $row['second_table'];
        $sqlUp = "UPDATE tables SET status_id = 2 WHERE tableid = '$firsttable' OR tableid = '$secondtable'";
        $resultUp = mysqli_query($conn, $sqlUp);
    }

//security check for post method
if ($_SERVER["REQUEST_METHOD"] == "POST") {
    //query for finding table availability for smokers depending on the number of persons
    if($smoking === "smokers" || $smoking === "Smokers"){
        if($persons == 1 || $persons == 2){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 3 OR section_id = 4)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation  
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql2);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
               //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                        }
                        else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; } 
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
        }elseif($persons == 3 || $persons == 4){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql2);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                        }
                        else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }    
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
        }elseif($persons == 5 || $persons == 6){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND (chair_count = 2 OR chair_count = 4) AND (section_id = 3 OR section_id = 4)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql2);
                //array filling with values of 2 chair tables
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //array cleaning from 2 chair tables, then filling with 4 chair tables
                $availableTables = array();
                $sql3 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql3);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable2 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";                           
                        }
                        else {    $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }    
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }

        }elseif($persons == 7 || $persons == 8){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if ($tableCount['total'] > 0) {
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql2);
                //array filling with values of 4 chair tables
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables, $row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //array cleaning from previous fill to avoid assigning the same table id twice
                $availableTables = array();
                $sql3 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 3 OR section_id = 4)";
                $result = mysqli_query($conn, $sql3);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables, $row['tableid']);
                    }
                }
                if (($key = array_search($resTable1, $availableTables)) !== false) {
                unset($availableTables[$key]);
                $resTable2 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";                           
                        }
                        else {    $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }   
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
        }
    }
    //query for finding table availability for non-smokers depending on the number of persons
    elseif($smoking === "non-smokers" || $smoking === "non-Smokers"){
        if($persons == 1 || $persons == 2){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 1 OR section_id = 2)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql2);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
               //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                        }
                        else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }    
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for" . $reservationDate . " at the time you picked(" . $reservationTime . "). <br> Try another visit hour please!" ;
            }
        }elseif($persons == 3 || $persons == 4){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation   
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql2);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                        }
                        else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', null, $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }    
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
            
        }elseif($persons == 5 || $persons == 6){
        $sql1 = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND (chair_count = 2 OR chair_count = 4) AND (section_id = 1 OR section_id = 2)";
        $result = mysqli_query($conn, $sql1);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 2 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql2);
                //array filling with values of 2 chair tables
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //array cleaning from 2 chair tables, then filling with 4 chair tables
                $availableTables = array();
                $sql3 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql3);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable2 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";                           
                        }
                        else {    $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }    
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
            
        }elseif($persons == 7 || $persons == 8){
        $sql = "SELECT COUNT(*) as total FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
        $result = mysqli_query($conn, $sql);
        $tableCount = mysqli_fetch_assoc($result);
            if($tableCount['total'] > 0){
                //query for picking the table of the reservation    
                $sql2 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql2);
                //array filling with values of 4 chair tables
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                }
                $resTable1 = $availableTables[array_rand($availableTables)];
                
                //array cleaning from previous fill to avoid assigning the same table id twice
                $availableTables = array();
                $sql3 = "SELECT * FROM tables WHERE status_id = 1 AND chair_count = 4 AND (section_id = 1 OR section_id = 2)";
                $result = mysqli_query($conn, $sql3);
                while ($row = mysqli_fetch_assoc($result)) {
                    array_push($availableTables,$row['tableid']);
                    }
                }
                if (($key = array_search($resTable1, $availableTables)) !== false) {
                unset($availableTables[$key]);
                $resTable2 = $availableTables[array_rand($availableTables)];
                
                //validation for correct date/time inputs & reservation query
                if(strtotime($reservationDate) > strtotime($today)){
                    $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                    $result = mysqli_query($conn,$sql);
                        if ($result === TRUE) {
                            $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";                           
                        }
                        else {    $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "). <br> Try another visit hour please!"; }
                }elseif(strtotime($reservationDate) === strtotime($today)){
                    if (strtotime(date("G:i")) < strtotime($reservationTime)){
                        $sql = "INSERT INTO reservations (userid, tableid, second_table, persons, operator, reserved_via, reserve_date,reserve_time_start, reserve_time_end, reservation_status)
                        VALUES ('$userid', '$resTable1', '$resTable2', $persons, '$operator', '$reserved_via', '$reservationDate', '$reservationTime', '$reservationEndTime', 'active')";
                        $result = mysqli_query($conn,$sql);
                            if ($result === TRUE) {
                                $SuccessMessage = "reservation closed for " . $reservationDate . $reservationTime . "<br>";
                            }
                            else { $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!"; }  
                    }else{
                        $ErrorMessage = "Can't make a reservation sooner than now " . "(Inserted Time is " . $reservationTime . ") & (Current Time is " . date("G:i") . ")";
                    }
                }else{
                    $ErrorMessage = "Can't make reservation before today" . "(Inserted Date is " . $reservationDate . ") & " . "(Current Date is " . $today . ")" . "<br>";
                }            
            } else {
                $ErrorMessage = "No tables are available for " . $reservationDate . " at the time you picked(" . $reservationTime . "until" . $reservationEndTime. "). <br> Try another visit hour please!" ;
            }
        }
    }
    //query for initializing the table availability after reservation is closed
    $sqlClear = "UPDATE tables SET status_id = 1";
    $result = mysqli_query($conn, $sqlClear);
    $conn->close();
}

//function for filtering data from extra whitespaces, slashes and translating html special characters to harmless text
function test_input($data) {
  $data = trim($data);
  $data = stripslashes($data);
  $data = htmlspecialchars($data);
  return $data;
}

?>

<!DOCTYPE HTML>
    <html lang="en">
    <head>
        <title>
            Reservation Confirmation | Papa Felipe's®
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap link to CSS & JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom CSS & JavaScript -->
        <link rel="stylesheet" href="css/custom.css" type="text/css">
        <script src="js & jquery/myScripts.js"></script>
        <script src="js & jquery/jquery.js"></script>
        <script>
            /*This function identifies the user of the page.
            *If he is an unregistered visitor the options button will appear along with the options to login & register
            but in the case of a user account the options will be replaced with the greetings message*/
            $( document ).ready(function() {
                var userview = <?php echo json_encode($_SESSION['username']) ?>;
                
                if(userview != null){
                $("a[href='Register.php']").attr('href', 'MyAccount.php');    
                $("a[href='Login.php']").attr('href', 'Logout.php');
                }
            });
        </script>        
        <!-- Background styling-->
        <style>
            .error {color: #FF0000;}
            
            body {
            background-image:    url(fonts/Background3t.jpg);
            background-attachment: fixed;
            }
        </style>
    </head>
    <body>
        <!-- Content -->
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <?php
                    //the success message that will inform the user that his reservation is booked up
                    if(isset($ErrorMessage)){
                        echo '<div class="alert alert-danger text-centered">' . 
                            $ErrorMessage .
                        '</div>';
                    }
                    //the danger message that will inform the user that his reservation had an error and will display the error
                    elseif(isset($SuccessMessage)){
                        echo '<div class="alert alert-success text-centered">' . 
                            $SuccessMessage .
                        '</div>';
                    }         
                ?>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <!-- footer version 2(fixed at the bottom as not enough content exists to make it like version 1)-->
        <div class="container-default footer" style="position:fixed;bottom:0;">
            <div class="text-center"><p>Papa Felipe's® est. 1994 - <?php echo Date('Y');?>. All Rights Reserved.<p></div>
        </div>
    </body>
</html>